<h1>Edit Pin</h1>
<form action="/pin/delete/{{pin.id}}" method="POST" onsubmit="return confirm('Are you sure?')">
  <input type="submit" value="Delete Pin">
</form>
<h6>@ {{pin.lat}} // {{pin.long}}</h6>
<div class="">
  <form class="" action="/pin/{{pin.id}}" method="post">
    <div class="">
      <div class="">
        <label for="type">Name/Type</label>
        <input type="text" name="type" value={{pin.type}} required>
      </div>
    </div>
    <div>
      <div>
        <label>Plant Health</label><br>
        <input type="radio" name="health" id="healthy" value="healthy" required>
        <label for="healthy">Healthy</label><br>
        <input type="radio" name="health" id="careful" value="clip carefully">
        <label for="careful">Clip carefully</label><br>
        <input type="radio" name="health" id="alone" value="leave alone for now">
        <label for="alone">Leave alone for now</label><br>
      </div>
    </div>
    <div class="">
      <div class="">
        <label for="description">Description</label>
        <textarea name="description" required>{{pin.description}}</textarea>
      </div>
    </div>
    <input type="hidden" name="lat" value={{pin.lat}}>
    <input type="hidden" name="long" value={{pin.long}}>
    <input type="hidden" name="id" value={{pin.id}}>
    <input type="submit" class="" value="save">
  </form>

  <script>
    let deleteButton = document.querySelector("#deleter")
    deleteButton.addEventListener('click', () => {
      let x = confirm("Are you sure you want to delete this pin?")
      if (x) {
        XMLHttpRequest.open("PUT", "http://localhost:3007/pin/delete/{{pin.id}}",true);
        XMLHttpRequest.send();
      }
    })
  </script>

</div>