<h1>Add Pin</h1>
<h6>{{address}}</h6>
<em>@ {{latLong.lat}} // {{latLong.long}}</em>

<div class="">
  <form class="" action="/" method="post">
    <div class="">
      <div class="">
        <label for="type">Name/Type</label>
        <input type="text" name="type" value="" required>
      </div>
    </div>
    <div>
      <div>
        <label>Plant Health</label><br>
        <input type="radio" name="health" id="healthy" value="healthy" required>
        <label for="healthy">Healthy</label><br>
        <input type="radio" name="health" id="careful" value="clip carefully">
        <label for="careful">Clip carefully</label><br>
        <input type="radio" name="health" id="alone" value="leave alone for now">
        <label for="alone">Leave alone for now</label><br>
      </div>
    </div>
    <div class="">
      <div class="">
        <label for="description">Description</label>
        <textarea name="description" required></textarea>
      </div>
    </div>
    <input type="hidden" name="address" value="{{address}}">
    <input type="hidden" name="lat" value={{latLong.lat}}>
    <input type="hidden" name="long" value={{latLong.long}}>
    <input type="submit" class="" value="save">
  </form>

</div>